//variables for color and sizing of circles
$number-size: 50px;
$odd-color: #dc7fbd;
$even-color: #708be4;

// container width and padding
$container-width: 800px;
$container-padding: 20px;

// variable to determine number of circles to create
$circle-count: 10;
